<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.my.blog.post.dao.PostDAO">
	<select id="selectPostList" parameterType="com.my.blog.post.vo.PostVO" resultType="com.my.blog.post.vo.PostVO">
		SELECT
			po.REG_NO,
			po.REG_DT,
			TITLE,
			CONTENT,
			usr.NAME AS name
		FROM
			POST po, user usr
		WHERE
			po.USER_NO = usr.REG_NO
		AND
			po.DEL_FL != 9
	</select>
	
	<select id="selectPostInfo" parameterType="Integer" resultType="com.my.blog.post.vo.PostVO">
		SELECT
			po.REG_NO,
			po.REG_DT,
			TITLE,
			CONTENT,
			usr.REG_NO AS user_no,
			usr.NAME AS name
		FROM
			POST po, user usr
		WHERE
			po.USER_NO = usr.REG_NO
		AND
			po.REG_NO = #{id}
	</select>
	
	<insert id="insertPost" parameterType="com.my.blog.post.vo.PostVO">
		INSERT INTO POST(USER_NO, TITLE, CONTENT, PUBLIC_FL, DEL_FL)
		VALUES 
			(#{user_no},#{title},#{content},#{public_fl},0)
	</insert>
	
	<update id="updatePost" parameterType="com.my.blog.post.vo.PostVO">
		UPDATE
			POST
		SET
			TITLE = #{title},
			CONTENT = #{content},
			EDIT_DT = NOW()
		WHERE
			REG_NO = #{reg_no}
	</update>
	
	<update id="deletePost" parameterType="Integer">
		UPDATE
			POST
		SET
			DEL_FL = 9
		WHERE
			REG_NO = #{id}
	</update>
</mapper>