<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.my.blog.user.dao.UserDAO">
	<select id="selectLoginUser" resultType="com.my.blog.security.CustomUserDetails">
		SELECT
			regnum,
			email AS id,
			password AS pw,
			name,
			IF(type = 0, 'true', 'false') AS ENABLED 
		FROM
			user
		WHERE
			email = #{id}
	</select>
</mapper>