<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.my.blog.board.dao.CommentDAO">
	<select id="selectCommentList" parameterType="com.my.blog.board.vo.CommentVO" resultType="com.my.blog.board.vo.CommentVO">
		SELECT
			REG_NO,
			REG_DT,
			BOARD_NO,
			PARENT_NO,
			DEPTH,
			SEQ,
			IFNULL((SELECT NAME FROM USER WHERE REG_NO = USER_NO),NAME) AS NAME,
			IP,
			CONTENT,
			PUBLIC_FL,
			DEL_FL
		FROM 
			COMMENT
		WHERE
			BOARD_NO = 2
		ORDER BY
			IF(ISNULL(PARENT_NO), REG_NO, PARENT_NO), SEQ
	</select>
	
	<select id="selectComment" parameterType="com.my.blog.board.vo.CommentVO" resultType="com.my.blog.board.vo.CommentVO">
		SELECT
			REG_NO,
			REG_DT,
			PARENT_NO,
			DEPTH,
			SEQ,
			IFNULL((SELECT NAME FROM USER WHERE REG_NO = USER_NO),NAME) AS NAME,
			IP,
			CONTENT,
			PUBLIC_FL,
			DEL_FL
		FROM 
			COMMENT
		WHERE
			BOARD_NO = #{board_no}
		AND
			PARENT_NO = #{parent_no}
		AND
			SEQ = #{seq}
			
	</select>
	
	<insert id="insertComment" parameterType="com.my.blog.board.vo.CommentVO">
		INSERT INTO COMMENT(USER_NO, BOARD_NO, PARENT_NO, DEPTH, SEQ, NAME, PASSWORD, CONTENT, IP, PUBLIC_FL, DEL_FL) 
		VALUES(#{user_no},#{board_no},#{parent_no},#{depth},#{seq},#{name},#{password},#{content},#{ip},#{public_fl},0)
	</insert>
	
	<select id="selectCommentSeq" parameterType="com.my.blog.board.vo.CommentVO" resultType="Integer">
		<![CDATA[
			SELECT
				SEQ
			FROM
				COMMENT
			WHERE
				BOARD_NO = 2
		]]>
		
 		<choose>
	        <when test="parent_no != null and !parent_no == ''">
				AND
					PARENT_NO = 1
	        </when>
	        <otherwise>
	        	AND
					REG_NO = 1
	        </otherwise>
    	</choose>
    	
		<![CDATA[
			ORDER BY 
				SEQ DESC
			LIMIT 1
		]]>
	</select>
</mapper>